@import "compass/css3/border-radius";

#About {
  background-color: #c9e7e9;
  position: relative;
}

#Announcement {
  background: url("../images/pattern.png");
  min-height: 100px;
}

#Registration {
 background-color: #b7c9d3;
}

#Map {
  position: relative;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about{
  padding-left: emCalc(38);
  line-height: 1.5;
}

.about-title {
  color: #ffffff;
  font-size: emCalc(39);
  font-weight: 100 !important;
}

.about-description {
  color: #62979b;
  font-size: emCalc(18);
  font-weight: bold !important;
}

.about-details {
  color: #62979b;
  font-size: emCalc(11);
  padding-bottom: emCalc(70);
}

.floating-label {
  background-color: #1d3556;
  padding: emCalc(14);
  color: #fff;
  font-size: emCalc(11);
  font-weight: 100 !important;
}

.nav_bars {
  width: 71px;
  height: 48px;
  background:url('../images/nav_buttons.png');
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
    a {
      color: #fff;
      font-size: emCalc(11);
      font-weight: 100 !important;
    }
}

#second_nav_bar {
  background-position: 0 -48px;
}

#third_nav_bar {
  background-position: 0 -96px;
}

#fourth_nav_bar_holder {
  z-index: 9999;
  bottom: 0px;
  position: absolute;
  left: 50%
}

#fourth_nav_bar {
  height: 68px;
  background-position: 0 -144px;
  line-height: 88px;
    a {
      color: #000;
    }

  position: relative;
  left: -50%;
}

#map_title {
  position: absolute;
  right: 0px;
  z-index: 9999;
}

#map {
  min-height: 500px;
  img {
    max-width: none;
  }
}

.bordered {
  // @include border-left-radius(80px);
  display: block;
  position: absolute !important;
  // background-color: #e5d196;
  top: 43%;
  margin-top: -15x;
    // width: 50%;
  // height: 50%;
  // padding: 0 !important;
  // width: 20px;
  height: 29px;
  overflow: auto;
  // margin: auto;
}

#bordered_left {
  left: -5px;
}
#bordered_right {
  right: -5px;
}

#map-data {
  div {
    p {
      a {
        font-weight: bold;
        color: #1d3556;
      }
    }
    #phone {
      color: #fff;
      font-weight: 100 !important;
      font-size: emCalc(40);
      line-height: 1.5;
    }

    #address {
      font-size: emCalc(12);
    }

    padding: emCalc(29);
    text-align: center;
    color: #1d3556;
    border: 1px solid #1d3556;
    font-size: emCalc(18);
    position: relative;
  }

  // position: absolute;
  background-color: #e5d196;
  padding: emCalc(10);
  // right: emCalc(35);
  // right: 1%;
  top: emCalc(60);

  p {
    margin: 0;
  }
}

footer {
  background-color: #ebe8b4;
  position: relative;
  height: 39px;

  p {
    padding-left: emCalc(14);
    margin: 0;
    padding-top: 11px;
    span {
      font-weight: 100 !important;
    }
  }
  a {
    position: absolute;
    right: 0;
    top: 0;
    // float: right;
  }

}


.announcement_title {
  font-family: 'metropolis_1920regular',"Helvetica Neue", "Helvetica",Arial,sans-serif;
  color: #fff;
  font-size: emCalc(85);
  text-align: center;
}

#time_left_label {
  font-size: emCalc(24);
  color: #c02f34;
  text-align: center;
  font-weight: 100 !important;
}

.blue_text {
  color: #1d3556;
  // font-weight: bold;
  // text-align: center;
  font-size: emCalc(15);
}

#announcement_highlight {
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: emCalc(30);
  letter-spacing: 2px;
  margin: 0;
}

// #announcement_details {
//   font-size: emCalc(12);
//   font-weight: normal;
// }

#countdown_container {
  font-family: 'metropolis_1920regular',"Helvetica Neue", "Helvetica",Arial,sans-serif;
  color: #fff;
  margin-left: 0.25em;
  font-size: emCalc(85);
  // text-align: center;
    span {
      text-align: center;
      display: inline-block;
      img {
        vertical-align: middle;
        margin: 0 14px 0 6px;
      }
      i {
        display: block;
        color: #1d3556;
        font-family: 'Kelson Sans',"Helvetica Neue", "Helvetica",Arial,sans-serif;
        font-size: 0.2em;
        text-align: left;
      }
    }
}

#days {
  margin-left: 7px;
}

.underlined {
  color: #fff;
  font-size: emCalc(4);
  text-align: center;
  padding: emCalc(80) 0;
}